{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <main class="contenedor seccion">
        <h1>Más Sobre Nosotros</h1>

        <div class="iconos-nosotros">
            <div class="icono">
                <img src="{% static 'img/icono1.svg' %}" alt="Icono seguridad" loading="lazy">
                <h3>INFO</h3>
                <p>Possimus, suscipit repudiandae. Autem deserunt aliquid deleniti sit minus consectetur obcaecati molestiae dolorem natus dolores reiciendis tempore, explicabo cum nobis laudantium. Voluptates?</p>
            </div>
            <div class="icono">
                <img src="{% static 'img/icono2.svg' %}" alt="Icono Precio" loading="lazy"> 
                <h3>INFO</h3>
                <p>Possimus, suscipit repudiandae. Autem deserunt aliquid deleniti sit minus consectetur obcaecati molestiae dolorem natus dolores reiciendis tempore, explicabo cum nobis laudantium. Voluptates?</p>
            </div>
            <div class="icono">
                <img src="{% static 'img/icono3.svg' %}" alt="Icono Tiempo" loading="lazy">
                <h3>INFO</h3>
                <p>Possimus, suscipit repudiandae. Autem deserunt aliquid deleniti sit minus consectetur obcaecati molestiae dolorem natus dolores reiciendis tempore, explicabo cum nobis laudantium. Voluptates?</p>
            </div>
        </div>
    </main>

    <section class="seccion contenedor">
        <h2>MAS INFO</h2>

        <div class="contenedor-anuncios">
            <div class="anuncio">
                <picture>
                    <source srcset="{% static 'img/anuncio1.webp' %}" type="image/webp">
                    <source srcset="{% static 'img/anuncio1.jpg' %}" type="image/jpeg">
                    <img loading="lazy" src="{% static 'img/anuncio1.jpg' %}" alt="anuncio">
                </picture>

                <div class="contenido-anuncio">
                    <h3>INFO</h3>
                    <p>INFO</p>
                    <p class="precio">BORR</p>

                    <ul class="iconos-caracteristicas">
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_wc.svg' %}" alt="icono wc">
                            <p>3</p>
                        </li>
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_estacionamiento.svg' %}" alt="icono estacionamiento">
                            <p>3</p> 
                        </li>
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_dormitorio.svg' %}" alt="icono habitaciones">
                            <p>4</p>
                        </li>
                    </ul>

                    <a href="anuncio.html" class="boton-amarillo-block">
                        INFO
                    </a>
                </div><!--.contenido-anuncio-->
            </div><!--anuncio-->

            <div class="anuncio">
                <picture>
                    <source srcset="{% static 'img/anuncio2.webp' %}" type="image/webp"> 
                    <source srcset="{% static 'img/anuncio2.jpg' %}" type="image/jpeg">
                    <img loading="lazy" src="{% static 'img/anuncio2.jpg' %}" alt="anuncio"> 
                </picture>

                <div class="contenido-anuncio">
                    <h3>INFO</h3>
                    <p>INFO</p>
                    <p class="precio">BORR</p>

                    <ul class="iconos-caracteristicas">
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_wc.svg' %}" alt="icono wc">
                            <p>3</p>
                        </li>
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_estacionamiento.svg' %}" alt="icono estacionamiento">
                            <p>3</p>
                        </li>
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_dormitorio.svg' %}" alt="icono habitaciones">
                            <p>4</p>
                        </li>
                    </ul>

                    <a href="anuncio.html" class="boton-amarillo-block">
                        INFO
                    </a>
                </div><!--.contenido-anuncio-->
            </div><!--anuncio-->

            <div class="anuncio">
                <picture>
                    <source srcset="{% static 'img/anuncio3.webp' %}" type="image/webp">
                    <source srcset="{% static 'img/anuncio3.jpg' %}" type="image/jpeg">
                    <img loading="lazy" src="{% static 'img/anuncio3.jpg' %}" alt="anuncio">
                </picture>

                <div class="contenido-anuncio">
                    <h3>info</h3>
                    <p>info</p>
                    <p class="precio">INFO</p>

                    <ul class="iconos-caracteristicas">
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_wc.svg' %}" alt="icono wc">
                            <p>3</p>
                        </li>
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_estacionamiento.svg' %}" alt="icono estacionamiento">
                            <p>3</p>
                        </li>
                        <li>
                            <img class="icono" loading="lazy" src="{% static 'img/icono_dormitorio.svg' %}" alt="icono habitaciones">
                            <p>4</p>
                        </li>
                    </ul>

                    <a href="anuncio.html" class="boton-amarillo-block">
                        Ver Propiedad
                    </a>
                </div><!--.contenido-anuncio-->
            </div><!--anuncio-->

        </div> <!--.contenedor-anuncios-->

        <div class="alinear-derecha">
            <a href="anuncios.html" class="boton-verde"INFO/a>
        </div>
    </section>

    <section class="imagen-contacto">
        <h2>MAS INFO SOBRE NOSOTROS</h2>
        <p>Llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad</p>
        <a href="contacto.html" class="boton-amarillo">Contactános</a>
    </section>

    <div class="contenedor seccion seccion-inferior">
        <section class="blog">
            <h3>Nuestro Blog</h3>

            <article class="entrada-blog">
                <div class="imagen">
                    <picture>
                        <source srcset="img/blog1.webp" type="image/webp">
                        <source srcset="img/blog1.jpg" type="image/jpeg">
                        <img loading="lazy" src="img/blog1.jpg" alt="Texto Entrada Blog">
                    </picture>
                </div>

                <div class="texto-entrada">
                    <a href="entrada.html">
                        <h4>info</h4>
                        <p class="informacion-meta">Escrito el: <span>20/10/2021</span> por: <span>Admin</span> </p>

                        <p>
                            EDITAR
                        </p>
                    </a>
                </div>
            </article>

            <article class="entrada-blog">
                <div class="imagen">
                    <picture>
                        <source srcset="img/blog2.webp" type="image/webp">
                        <source srcset="img/blog2.jpg" type="image/jpeg">
                        <img loading="lazy" src="img/blog2.jpg" alt="Texto Entrada Blog">
                    </picture>
                </div>

                <div class="texto-entrada">
                    <a href="entrada.html">
                        <h4>info</h4>
                        <p class="informacion-meta">Escrito el: <span>20/10/2021</span> por: <span>Admin</span> </p>

                        <p>
                            INFO
                        </p>
                    </a>
                </div>
            </article>
        </section>

        <section class="testimoniales">
            <h3>Testimoniales</h3>

            <div class="testimonial">
                <blockquote>
                    TESTIMONIOS DE PERSONAS QUE AYUDAMOS
                <p>- INFOTMATORIO</p>
            </div>
        </section>
    </div>
{% endblock %}